{% extends "base.html" %}
{% load i18n widget_tweaks %}
{% block title %}{% trans 'Login page' %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 jumbotron">
                <h3 class="text-center">If you don't know login/password try
                    admin/admin.</h3>
                {% if form.errors %}
                    <p class="alert alert-danger">Your username and password
                        didn't match. Please try
                        again.</p>
                {% endif %}
                <div class="row">
                    <form method="post"
                          action="{% url 'django.contrib.auth.views.login' %}">
                        {% csrf_token %}

                        <div class="col-xs-3">
                            {{ form.username.label_tag }}
                        </div>
                        <div class="col-xs-9">
                            {{ form.username | add_class:"form-control" }}
                        </div>
                        <div class="col-xs-3">
                            {{ form.password.label_tag }}
                        </div>
                        <div class="col-xs-9">
                            {{ form.password | add_class:"form-control" }}
                        </div>
                        <div class="row text-center">
                            <input type="submit" class="btn btn-success"
                                   value="{% trans "Login" %}"/>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}