{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Edit info about me" %}{% endblock %}
{% block content %}
    {{ form.media }}
    {% load widget_tweaks %}
    <div class="container">
        <h1>{% trans "42 Coffee Cups Test Assignment" %}</h1>

        <div class="row">
            <form enctype="multipart/form-data" action="" method="post"
                  id="edit_info_form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group-xs">
                            <div class="col-xs-3">
                                {{ form.first_name.label_tag }}*
                            </div>
                            <div class="col-xs-9">
                                {{ form.first_name|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="form-group-xs">
                            <div class="col-xs-3">
                                {{ form.last_name.label_tag }}
                            </div>
                            <div class="col-xs-9">
                                {{ form.last_name|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="form-group-xs">
                            {{ form.birth_date.errors }}
                            <div class="col-xs-3">
                                {{ form.birth_date.label_tag }}
                            </div>

                            <div class="col-xs-9">
                                {{ form.birth_date|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="form-group-xs">
                            <div class="col-xs-3">
                                {{ form.avatar.label_tag }}
                            </div>
                            <div class="col-xs-9">
                                <input class="form-control" id="id_avatar"
                                       name="avatar" type="file"></div>

                            <div class="row img-thumbnail text-center">
                                {% if form.avatar.value %}
                                    <div id="imagePreview"
                                         style="background-image: url({{ form.avatar.value.url }})"></div>
                                {% else %}
                                    <div id="imagePreview"
                                         style="background-image: url({{ settings.MEDIA_URL }}img/no-avatar.jpg)"></div>
                                {% endif %}
                            </div>


                        </div>

                    </div>
                    <div class="col-xs-6">
                        <div class="form-group-xs">
                            {{ form.email.errors }}
                            <div class="col-xs-3">
                                {{ form.email.label_tag }}
                            </div>
                            <div class="col-xs-9">
                                {{ form.email|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="form-group-xs">
                            <div class="col-xs-3">
                                {{ form.jabber.label_tag }}
                            </div>
                            <div class="col-xs-9">
                                {{ form.jabber|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="form-group-xs">
                            <div class="col-xs-3">
                                {{ form.skype.label_tag }}
                            </div>
                            <div class="col-xs-9">
                                {{ form.skype|add_class:"form-control col-xs-9" }}
                            </div>
                        </div>
                        <div class="form-group-xs">
                            <div class="col-xs-3">
                                {{ form.other_contacts.label_tag }}
                            </div>
                            <div class="col-xs-12">
                                {{ form.other_contacts|add_class:"form-control"|attr:"rows:4" }}
                            </div>
                        </div>
                        <div class="form-group-xs">
                            <div class="col-xs-3">
                                {{ form.bio.label_tag }}
                            </div>
                            <div class="col-xs-12">
                                {{ form.bio|add_class:"form-control"|attr:"rows:4" }}
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-xs-3">
                        <input type="submit" class="btn btn-success"
                               value="{% trans "Save" %}"/>
                        <a href="{% url 'index' %}">{% trans "Cancel" %}</a>
                    </div>
                    <div class="col-sx-3">
                        <span id="ajax_progress"
                              class="alert alert-info">{% trans "Loading..." %}</span>
                        <span id="ajax_success"
                              class="alert alert-success">{% trans "Successfully submitted." %}</span>
                    </div>


                </div>
            </form>
        </div>
        <hr>
        <div class="row">
            <a href="{% url 'requests' %}">{% trans "First 10 HttpRequests" %}</a>
        </div>
        <div class="row">* {% trans "Required fields" %}</div>
    </div>
{% endblock %}