{% extends 'base.html' %}
{% load edit_link i18n verbose_names%}
{% block title %}{% trans "About Me" %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h1>{% trans "42 Coffee Cups Test Assignment" %}</h1>
            </div>
            <div class="col-xs-3" style="padding-top: 20px;">
                {% if user.is_authenticated %}
                    <a href="{% url 'edit_info' %}">{% trans "Edit" %}</a> |
                    <a href="{% edit_link about_me %}">(admin)</a> |
                    <a href="{% url 'logout' %}?next={{ request.path }}">{% trans "Logout" %}</a>
                {% else %}
                    <a href="{% url 'login' %}?next={{ request.path }}">{% trans "Login" %}</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <p><b>{% get_verbose_field_name about_me "first_name" %}:</b> {{ about_me.first_name }}</p>

                <p><b>{% get_verbose_field_name about_me "last_name" %}:</b> {{ about_me.last_name }}</p>

                <p><b>{% get_verbose_field_name about_me "birth_date" %}:</b> {{ about_me.birth_date }}</p>

                <p><b>{% get_verbose_field_name about_me "bio" %}:</b><br/>{{ about_me.bio | linebreaksbr }}</p>

                <p><b>{% get_verbose_field_name about_me "avatar" %}:</b></p>

                <div class="img-thumbnail text-center">
                    {% if about_me.avatar %}
                        <img src="{{ about_me.avatar.url }}">
                    {% else %}
                        <img src="{{ settings.MEDIA_URL }}img/no-avatar.jpg">
                    {% endif %}
                </div>


            </div>

            <div class="col-xs-6">

                <p><b>{% trans "Contacts" %}:</b></p>

                <p><b>{% get_verbose_field_name about_me "email" %}:</b> {{ about_me.email | urlize }}</p>

                <p><b>{% get_verbose_field_name about_me "jabber" %}:</b> {{ about_me.jabber }}</p>

                <p><b>{% get_verbose_field_name about_me "skype" %}:</b> {{ about_me.skype }}</p>

                <p><b>{% get_verbose_field_name about_me "other_contacts" %}:</b><br/>{{ about_me.other_contacts | urlize | linebreaksbr }}</p>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-xs-6">
                <a href="{% url 'requests' %}">{% trans "First 10 HttpRequests" %}</a>
            </div>
        </div>
    </div>
{% endblock %}