{% extends 'base.html' %}
{% block title %}
    About Me
{% endblock %}
{% block content %}
    <h1 class="text-center">42 Coffee Cups Test Assignment</h1>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <p>{{ about_me.first_name }}</p>

                <p>{{ about_me.last_name }}</p>

                <p>{{ about_me.birth_date }}</p>

                <p>{{ about_me.bio | linebreaksbr }}</p>

            </div>

            <div class="col-xs-6">

                <p><b>Contacts:</b></p>

                <p><b>Email:</b> {{ about_me.email }}</p>

                <p><b>Jabber:</b> {{ about_me.jabber }}</p>

                <p><b>Skype:</b> {{ about_me.skype }}</p>

                <p><b>Other contacts:</b><br/>{{ about_me.other_contacts | linebreaksbr }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <a href="{% url 'requests' %}">10 Latest Requests</a>
            </div>
        </div>
    </div>
{% endblock %}