{% extends 'base.html' %}
{% load edit_link %}
{% block title %}About Me{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h1>42 Coffee Cups Test Assignment</h1>
            </div>
            <div class="col-xs-3" style="padding-top: 20px;">
                {% if user.is_authenticated %}
                    Hello, {{ user.username }}. <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}?next={% url 'edit_info' %}">Login</a>
                {% endif %}
            </div>
            <div class="col-xs-3">

                {% edit_link user %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <p><b>First Name:</b> {{ about_me.first_name }}</p>

                <p><b>Last Name:</b> {{ about_me.last_name }}</p>

                <p><b>Date of Birth:</b> {{ about_me.birth_date }}</p>

                <p><b>Bio:</b><br/>{{ about_me.bio | linebreaksbr }}</p>

                <p><b>Avatar:</b></p>

                <div class="img-thumbnail text-center">
                    {% if about_me.avatar %}
                        <img src="{{ about_me.avatar.url }}">
                    {% else %}
                        <img src="{{ settings.MEDIA_URL }}img/no-avatar.jpg">
                    {% endif %}
                </div>


            </div>

            <div class="col-xs-6">

                <p><b>Contacts:</b></p>

                <p><b>Email:</b> {{ about_me.email }}</p>

                <p><b>Jabber:</b> {{ about_me.jabber }}</p>

                <p><b>Skype:</b> {{ about_me.skype }}</p>

                <p><b>Other contacts:</b><br/>{{ about_me.other_contacts | linebreaksbr }}</p>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-xs-6">
                <a href="{% url 'requests' %}">10 Latest Requests</a>
            </div>
                <div class="col-xs-6">
                    <a href="{% url 'edit_info' %}">Edit Info</a>
                </div>
        </div>
    </div>
{% endblock %}